* {
  margin: 0;
  padding: 0;
}
body {
background-color: #004f2a;
  width: 100vw;
  background-image: url(./background.svg);
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  overflow-x: hidden;
}
header {
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background: #006737;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  img {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 167px;
    height: 204px;
    cursor: pointer;
    z-index: 999;
  }
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    color: #ffce31;
  }
}
h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 25px;
  text-align: center;

  color: #ffffff;
}
.allPlayers {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.follow-team{
  margin-top: 20vh;
}
.playerProfile {
  width: 100vw;
  margin-top: 20vh;
  .player-main-info {
    display: flex;
    margin-top: 50px;
    padding-left: 90px;
    padding-right: 90px;
    img {
      width: 417.7px;
      height: 456px;
      object-fit: cover;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 10;
    }
    .player-main-info-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 456px;
      .information-background {
        width: 480px;
        height: 54px;
        margin-left: -26px;
        background: linear-gradient(104.1deg, #006737 56.69%, #ffcb04 85.69%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

        display: flex;
        align-items: center;
        #player-position {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 48px;
          text-transform: uppercase;
          color: #ffffff;
          margin-left: 36px;
        }
      }
      .small-information-background {
        width: 365px;
        height: 41px;

        background: linear-gradient(104.1deg, #006737 56.69%, #ffcb04 85.69%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

        display: flex;
        align-items: center;
        h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;
          color: #ffffff;
        }
        #player-age {
          margin-left: 44px;
        }
        #player-height {
          margin-left: 110px;
        }
        #player-weight {
          margin-left: 192px;
        }
      }
      #player-age-div {
        margin-left: -34px;
      }
      #player-height-div {
        margin-left: -100px;
      }
      #player-weight-div {
        margin-left: -182px;
      }
      .smallest-information-background {
        width: 360px;
        height: 25px;

        background: linear-gradient(104.1deg, #006737 56.69%, #ffcb04 85.69%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

        display: flex;
        align-items: center;
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;

          color: #ffffff;
        }
        #player-started-rugby {
          margin-left: 39px;
        }
        #player-in-enkoping {
          margin-left: 39px;
        }
      }
      #player-started-rugby-div {
        margin-left: -29px;
      }
      #player-in-enkoping-div {
        margin-left: -29px;
        width: 320px;
      }
      .other-clubs {
        width: 281px;
        height: 141px;

        background: #ffce31;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: -8px;
        p {
          margin: 5px;
          margin-left: 18px;
          width: 260px;
          height: 74px;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;

          color: #000000;
          white-space: pre-wrap;
        }
        h4 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;

          color: #000000;
          padding-top: 15px;
          margin-left: 18px;
        }
      }
    }
    .allMedals {
      display: flex;
      flex-direction: column;
      height: 456px;
      flex-wrap: wrap;
      gap: 40px;
      margin-left: 10px;
      .medal {
        width: 118px;
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        img {
          width: 64px;
          height: 64px;
          box-shadow: 0px 0px 0px;
        }
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: white;
        }
        .bold {
          font-weight: 500;
        }
      }
    }
  }

  .player-allStories{
    display: flex;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 50px;
    gap: 50px;
    .best-about-team {
      white-space: pre-wrap;
      margin-top: 50px;
      width: 30%;
      font-family: "Roboto";
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
  
      text-align: center;
  
      color: #ffffff;
    }
    .player-stories {
      margin-top: 2rem;
      padding: 1rem;
      width: 70%;
      background: #006737;
      h5 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
  
        color: #ffffff;
      }
      p {
        white-space: pre-wrap;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 1rem;
  
        color: #ffffff;
      }
    }
  }

}
.playerCard {
  height: 350px;
  background-color: #ffcb04;
  padding: 8px 8px 0px 8px;
  margin: 8px;
  cursor: pointer;
  h1,
  p {
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
  img {
    width: 229px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.pictures-of-player{
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-wrap: wrap;
}

.lg-backdrop {
  margin-top: 16vh;
  height: 84vh !important;
  opacity: 0.4 !important;
  background-color: #006737 !important;
  z-index: 1 !important;
}

.lg-toolbar {
background-color: transparent !important;
}
.lg-toogle-thumb{
  color: #ffcb04 !important;
}
.lg-thumb-outer{
  background-color: transparent !important;
}
.lg-outer .lg-content {
  position: absolute;
  top: 16vh !important;
  left: 0;
  right: 0;
  bottom: 0;
}
