* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #004f2a;
  width: 100vw;
  overflow-x: hidden;
}
@media screen and (min-width: 1160px) {
  body {
    background-image: url(./background.svg);
    background-repeat: no-repeat;
    background-size: repeat;
    overflow-x: hidden;
  }
}
header {
  z-index: 1000;
  position: relative;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16vh;
  background: #006737;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  img {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 82px;
    height: 100px;
    cursor: pointer;
    z-index: 999;
  }
  h1 {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    margin-left: 30%;
    color: #ffce31;
  }
}
@media screen and (min-width: 1160px) {
  header {
    position: fixed;
    img {
      width: 167px;
      height: 204px;
    }
    h1 {
      font-size: 64px;
      margin-left: 0;
    }
  }
}
h2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 90%;
  margin-left: 5%;
  color: white;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
}
@media screen and (min-width: 1160px) {
  h2 {
    font-size: 25px;
    width: 100%;
    margin-left: 0;
  }
}
.follow-team {
  margin-top: 0vh;
}
@media screen and (min-width: 1160px) {
  .follow-team {
    margin-top: 20vh;
  }
}
.allPlayers {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}
.playerCard {
  height: 500px;
  background-color: #ffcb04;
  margin: 8px;
  cursor: pointer;
  h1,
  p {
    margin-top: 10px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000000;
  }
  img {
    width: 95vw;
    height: 400px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media screen and (min-width: 1160px) {
  .playerCard {
    height: 350px;
    padding: 8px 8px 0px 8px;
    img {
      width: 229px;
      height: 250px;
    }
  }
}
.playerProfile {
  width: 100vw;
  .player-main-info {
    img {
      margin-top: 16px;
      width: 100vw;
      height: 450px;
      object-fit: cover;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      z-index: 10;
    }
    .player-main-info-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 380px;
      .information-background {
        width: 90vw;
        height: 40px;
        margin-left: -10px;
        background: linear-gradient(104.1deg, #006737 56.69%, #ffcb04 85.69%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;
        display: flex;
        align-items: center;
        #player-position {
          font-family: "Poppins";
          font-style: normal;
          font-weight: 600;
          font-size: 30px;
          line-height: 24px;
          text-transform: uppercase;
          color: #ffffff;
          margin-left: 20px;
        }
      }
      .small-information-background {
        width: 80vw;
        height: 30px;

        background: linear-gradient(104.1deg, #006737 56.69%, #ffcb04 85.69%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

        display: flex;
        align-items: center;
        h3 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 28px;
          color: #ffffff;
        }
        #player-age {
          margin-left: 44px;
        }
        #player-height {
          margin-left: 110px;
        }
        #player-weight {
          margin-left: 192px;
        }
      }
      #player-age-div {
        margin-left: -33px;
      }
      #player-height-div {
        margin-left: -100px;
      }
      #player-weight-div {
        margin-left: -182px;
      }
      .smallest-information-background {
        width: 360px;
        height: 25px;

        background: linear-gradient(104.1deg, #006737 56.69%, #ffcb04 85.69%);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 40px;

        display: flex;
        align-items: center;
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 19px;

          color: #ffffff;
        }
        #player-started-rugby {
          margin-left: 39px;
        }
        #player-in-enkoping {
          margin-left: 39px;
        }
      }
      #player-started-rugby-div {
        margin-left: -29px;
      }
      #player-in-enkoping-div {
        margin-left: -29px;
        width: 320px;
      }
      .other-clubs {
        width: 90vw;
        height: auto;
        padding: 0px 0px 10px 0px;

        background: #ffce31;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        margin-left: -8px;
        p {
          margin: 5px;
          margin-left: 18px;
          width: 88vw;
          height: auto;

          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 14px;

          color: #000000;
          white-space: pre-wrap;
        }
        h4 {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;

          color: #000000;
          padding-top: 15px;
          margin-left: 18px;
        }
      }
    }
    .allMedals {
      display: flex;
      flex-direction: row;
      height: auto;
      flex-wrap: wrap;
      gap: 13px;
      margin-left: 0px;
      .medal {
        width: 118px;
        height: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        img {
          width: 64px;
          height: 64px;
          box-shadow: 0px 0px 0px;
        }
        p {
          font-family: "Roboto";
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: white;
        }
        .bold {
          font-weight: 500;
        }
      }
    }
  }
  .player-allStories {
    display: relative;
    padding-left: 16px;
    padding-right: 0px;
    margin-bottom: 50px;
    .best-about-team {
      white-space: pre-wrap;
      margin-top: 50px;
      width: 90vw;
      font-family: "Roboto";
      font-style: italic;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      color: #ffffff;
    }
    .player-stories {
      margin-top: 2rem;
      padding: 1rem;
      width: 84vw;
      background: #006737;
      h5 {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;

        color: #ffffff;
      }
      p {
        white-space: pre-wrap;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 1rem;

        color: #ffffff;
      }
    }
  }
}

.pictures-of-player {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  display: flex;
  flex-wrap: wrap;
}
.lg-backdrop {
  margin-top: 0vh;
  height: 100vh !important;
  opacity: 0.8 !important;
  background-color: #006737 !important;
  z-index: 1 !important;
}

.lg-toolbar {
  background-color: transparent !important;
}
.lg-toogle-thumb {
  color: #ffcb04 !important;
}
.lg-thumb-outer {
  background-color: transparent !important;
}
.lg-outer .lg-content {
  position: absolute;
  top: 16vh !important;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 1160px) {
  .playerProfile {
    margin-top: 20vh;
    .player-main-info {
      display: flex;
      margin-top: 50px;
      padding-left: 90px;
      padding-right: 90px;
      img {
        margin-top: 0;
        width: 417.7px;
        height: 456px;
      }
      .player-main-info-text {
        height: 456px;
        .information-background {
          width: 480px;
          height: 54px;
          margin-left: -26px;
          #player-position {
            font-size: 32px;
            line-height: 48px;
            margin-left: 36px;
          }
        }
        .small-information-background {
          width: 365px;
          height: 41px;
          h3 {
            font-size: 24px;
          }
        }
        .other-clubs {
          width: 281px;
          height: 141px;
          padding: 0px 0px 0px 0px;
          p {
            margin: 5px;
            margin-left: 18px;
            width: 260px;
            height: 74px;
          }
        }
        .allMedals {
          flex-direction: column;
          height: 456px;
          gap: 40px;
          margin-left: 10px;
        }
      }
    }
    
  }
  .player-allStories {
    display: flex;
    margin-left: 90px;
    padding-left: 90px;
    padding-right: 90px;
    margin-bottom: 50px;
    gap: 50px;
    .best-about-team {
      width: 30% !important;
    }
    .player-stories {
      width: 70%;
      margin-right: 5%;
    }
  }
  pictures-of-player {
    margin-left: 5vw;
  }
  .lg-backdrop {
    margin-top: 16vh;
    height: 84vh !important;
    opacity: 0.4 !important;
  }
}